* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}
.section_content {
    position: relative;
    margin: 0 auto;
    width: 1140px;
}


.one_section {
    background: url('../img/fonts.jpg') center center/cover no-repeat;
    min-height: 800px;
    padding: 39px 0 62px 0;
}

.sova_icon img {
    display: block;
    margin: 0 auto;
}

.section_content .one_section_wordpress {
    /* Style for "WordPress" */
    margin-top: 14px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    /* Style for "Создать св" */
    color: #f9bf3b;
    margin-top: 53px;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    /* Text style for "С, оздать" */
}

.its_simple {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    /* line-height: 24px; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}

.one_section_header {
    margin-top: 30px;
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.one_section_text {
    color: #ffffff;
    margin-top: 23px;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.one_section_text span {
    color: #f9bf3b;
    font-weight: 700;
}

.one_section_btn,.btn_five_section {
    /* Style for "Rounded Re" */
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    /* Style for "Записаться" */
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.one_section_intensive {
    /* Style for "узнать бол" */
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-top: 73px;
}

.one_section_down_icon {
    /* Style for "Rounded Re" */
    margin-top: 13px;
    margin-left: 555px;
    width: 30px;
    height: 19px;
}

.two_section {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.line_color {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.two_section_intensiv {
    /* Style for "Что вас жд" */
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    /* line-height: 12px; */
    text-align: center;
    text-transform: uppercase;
}

.two_webinar_two_section {
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 17px;
}

.two_section_wrapper {
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
}

.two_section_item {
    width: 342px;
}

.two_section_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}

.three_section {
    position: relative;
    min-height: 550px;
    padding-top: 48px;
}

/* .float { */
    /* position: relative; */
/* } */

.h2_three_section {
    /* Style for "Что такое" */
    /* margin: 0 auto; */
    position: absolute;
    margin-top: 54px;
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    /* line-height: 12px; */
    text-transform: uppercase;
    text-align: center;
}

.img_three_section {
    /* Style for "Layer 15" */
    position: absolute;
    width: 868px;
    margin-left: -249px;
    z-index: -1;
}

.text_three_section {
    /* Style for "На простор" */
    position: absolute;
    margin-top: 106px;
    margin-left: 389px;
    width: 750px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    text-align: justifyLeft;
    font-family: "Roboto - Light";
    font-weight: 300;
    /* Text style for "Мы научим" */
}

.text_three_section span {
    font-weight: 700;
}

.four_section {
    background: url(../img/fonts_two.jpg) center center/cover no-repeat;
    padding: 86px 0 79px 0;
    min-height: 447px;
}

.text_four_section {
    /* Style for "Обеспечить" */

color: #efefef;
margin-top: 25px;
font-size: 17px;
font-weight: 300;
line-height: 20px;
text-align: center;
}

.h2_four_section {
    /* Style for "По окончан" */
color: #efefef;
font-size: 30px;
font-weight: 400;
line-height: 12px;
text-align: center;
text-transform: uppercase;
}

.four_section .section_content .line_color {
    margin-top: 23px;
}

.itm_four_section {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.icon_four_section {
    display: flex;
    justify-content: center;
    
    
}

.itm_icon {
    margin: 0 auto;
    width: 204px;
}

.five_section {
    background-color: #efefef;
    min-height: 628px;
    padding: 86px 0 87px 0;
}

.five_section .section_content img {
    /* Style for "Layer 35" */
    display: block;
    width: 154px;
    margin: 0 auto;
}

.six_section img {
    /* Style for "Layer 7 co" */
    display: block;
    width: 342px;
    margin: 0 auto;
}

.text_five_section {
    /* Style for "Для всех у" */
    margin-top: 42px;
    width: 1131px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}

.btn_five_section {
    margin-top: 52px;
}

.six_section {
    min-height: 515px;
    padding: 89px 0 64px 0;
}

.h2_six_section {
    /* Style for "Первый веб" */
    margin-top: 37px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.h3_six_section {
    /* Style for "10 сентябр" */
    color: #299cbd;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.h4_six_section {
    /* Style for "Успейте за" */
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.footer_adress {
    /* Style for "Служба под" */
width: 377px;
margin: 0 auto;
color: #888888;
font-size: 15px;
font-weight: 300;
line-height: 21px;
text-align: center;

}

footer {
    background-color: black;
    padding: 61px 0 69px 0;
    min-height: 166px;
}

footer a {
    color: #888888;
    text-decoration: underline;
}


























